body,
h1,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
#bodyContainer {
  background-color: bisque;
  margin: 0 auto;
}

#pageTitle {
  text-align: center;
  background-color: #f39a9d;
  border-radius: 14px;
  border: 2px solid #00a8e8;
  padding: 10px;
}

.container {
  background-color: #f39a9d;
  color: #283845;
  padding: 10px;
}

/* .head {
  text-align: center;
  font-size: 26px;
  padding: 10px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 10px auto;
  border: 2px solid #00a8e8;
  border-radius: 14px;
  background-color: #f39a9d;
  color: #283845;
  box-shadow: 0 2px 4px #f2d492;
} */

.startBtn {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 10px auto;
  border: 2px solid #00a8e8;
  border-radius: 14px;
  background-color: #f39a9d;
  color: #283845;
  box-shadow: 0 2px 4px #f2d492;
}

.choiceBtn {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: right;
  padding: 10px 20px;
  margin: 10px auto;
  border: 2px solid #00a8e8;
  border-radius: 14px;
  background-color: #f39a9d;
  color: #283845;
  box-shadow: 0 2px 4px #f2d492;
}

.btn {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 10px auto;
  border: 2px solid #00a8e8;
  border-radius: 14px;
  background-color: #f39a9d;
  color: #283845;
  box-shadow: 0 2px 4px #f2d492;
}

.footer {
  text-align: center;
  font-size: 26px;
}

@media (max-width: 690px) {
  .start-Btn {
    font-size: 24px;
    margin: 16px 0 0;
    padding: 8px 15px;
  }
}

@media (max-width: 500px) {
  .start-Btn {
    font-size: 20px;
  }
}
